{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="main" class="flex justify-center flex-1">
    <div class="image-container w-1/2 lg:flex hidden justify-center">
        <img src="{% static '/images/auth/auth.png' %}" class="w-full h-auto object-cover" alt="">
    </div>

    <div class="form-container md:w-1/2 flex items-center z-0">
        <div class="max-w-md mx-auto bg-white rounded-lg shadow-md">
            <div class="m-16">
                <h2 class="text-2xl font-bold text-center">Paisa FinCredit India</h2>
                <p class="text-sm text-center mb-4"></p>
                <form class="flex flex-col space-y-4">
                    
                    <div class="flex flex-col space-y-1">
                        <div class="relative flex-1">
                            <input type="text" id="account-numner" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                            <label for="account" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Account Number</label>
                        </div>
                    </div>

                    <div class="flex flex-col space-y-1">
                        <div class="relative flex-1">
                            <input type="text" id="account-holder" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                            <label for="account-holder" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Account Holder name</label>
                        </div>
                    </div>

                    <div class="flex flex-col space-y-1">
                        <div class="relative flex-1">
                            <input type="text" id="IFSCCode" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                            <label for="IFSCCode" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">IFSC Code</label>
                        </div>
                    </div>

                    <div class="flex flex-col space-y-1">
                        <div class="relative flex-1">
                            <input type="text" id="branch" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                            <label for="branch" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Branch</label>
                        </div>
                    </div>


                    
                    <div class="relative">
                        <p class="text-sm px-2.5 mb-2">Picture of Check</p>
                        <input type="file" id="current-address-proof" class="block px-2.5 pb-2.5 pt-2 w-full text-sm text-gray-900  rounded-lg   appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                        
                    </div>

                
                
                
                <button type="submit" class="w-full px-4 py-2 text-sm font-medium text-center text-white bg-blue-600 rounded-md hover:bg-blue-700 focus:ring-4 focus:ring-blue-500">SAVE DETAILS</button>
                </form>
                
            </div>
        </div>
    </div>
</div>

<script>
    function showHidePass() {
        const showPassword = document.querySelector("#show-password");
        const hidePassword = document.querySelector("#hide-password");
        const password = document.querySelector("#password");

        if (password.type === "password") {
            password.type = "text";
        } else {
            password.type = "password";
        }

        showPassword.classList.toggle("hidden")
        hidePassword.classList.toggle("hidden")
    }
</script>
{% endblock content %}
