{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="main" class="flex justify-center flex-1">
    <div class="image-container w-1/2 lg:flex hidden justify-center">
        <img src="{% static '/images/auth/login_side.png' %}" class="w-full h-auto object-cover" alt="">
    </div>

    <div class="form-container md:w-1/2 flex items-center z-0">
        <div class="max-w-md mx-auto bg-white rounded-lg shadow-md">
            <div class="m-16">
                <h2 class="text-2xl font-bold text-center mb-4">Paisa FinCredit India</h2>
                <p class="text-sm text-center mb-4">If you forgot your password enter the registered phone number below, to change your password</p>
                <form class="flex flex-col space-y-4">
                    {% comment %} <div class="relative">
                        <input type="text" id="first-name" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                        <label for="first-name" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">First Name</label>
                    </div>
                    <div class="relative">
                        <input type="text" id="last-name" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                        <label for="last-name" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Last Name</label>
                    </div> {% endcomment %}
                <div class="flex  space-y-1">
                    <div class="relative flex-1">
                        <input type="text" id="phone" class="block  px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                        <label for="phone" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Phone No</label>
                    </div>
                    <button  class="text-black md:text-white md:bg-blue-500  no-underline hover:text-black-200 hover:text-underline md:py-2 md:px-5 rounded-lg md:mx-3 md:my-3">Get OTP</button>

                </div>
                        

                <div class="flex flex-col space-y-1">
                    <div class="flex items-center space-x-2">
                        <div class="relative flex-1">    
                            <input type="text" id="password" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                            <label for="password" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1 ">Enter OTP</label>                     
                            
                        </div>
                        
                        <!-- <div class="cursor-pointer">
                            <svg id="show-password" onclick="showHidePass()" class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                            </svg>
                            <svg id="hide-password" onclick="showHidePass()" class="w-6 h-6 hidden" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
                            </svg>
                        </div> -->
                    </div>
                </div>
                
                <!-- <div class="flex space-x-2">
                    <label for="terms" class="text-sm font-medium">
                        <input type="checkbox" id="terms" name="terms" checked class="w-4 h-4 accent-blue-500 focus:ring-2 focus:ring-blue-500">
                        I hereby confirm that I have read, understood, and agree to the mentioned "T & C", "Terms Of Use" and "Privacy Policy" and receive communication via SMS, E-mail, and WhatsApp.</label>
                </div> -->
                <button type="submit" class="w-full px-4 py-2 text-sm font-medium text-center text-white bg-blue-600 rounded-md hover:bg-blue-700 focus:ring-4 focus:ring-blue-500">Change Password</button>
                </form>
                <p class="text-sm text-center mt-4">Remember my Password <a href="#" class="text-blue-500 font-medium">Sign In</a></p>
            </div>
        </div>
    </div>
</div>

<script>
    function showHidePass() {
        const showPassword = document.querySelector("#show-password");
        const hidePassword = document.querySelector("#hide-password");
        const password = document.querySelector("#password");

        if (password.type === "password") {
            password.type = "text";
        } else {
            password.type = "password";
        }

        showPassword.classList.toggle("hidden")
        hidePassword.classList.toggle("hidden")
    }
</script>
{% endblock content %}
