
{% extends "test/testbase.html" %}

{% block content %}

<div class="container mt-5 pt-4">

    <div class="col-6 mx-auto">
        <h3 class="text-center">Enter OTP sent to your number {{ mobile }}</h3>

        <form action=".">
            <div class="row">
                <div class="form-group col-12">
                    <input type="text" placeholder="Enter otp" class="form-control" name="" id="">
                </div>
            </div>

           <p>Already have account <a href="{% url 'register' %}">Login</a></p>
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

{% endblock %}
