{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-svh ">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
</head>
<body class="flex flex-col mx-auto h-full max-w-[1920px] relative">
    
    {% include 'notification.html' %}

    {% block header %}
        {% include 'dashboard/dashboard_header.html' %}
    {% endblock header %}


    <div class="relative flex sm:gap-2 lg:mx-20 xl:mx-24 sm:px-4 min-h-screen">
        {% include 'dashboard/dashboard_sidemenu.html' %}
        {% block content %}
        {% endblock content %}
    </div>

    {% block footer %}
    {% endblock footer %}
</body>
</html> 