{% load static %}

{% url 'dashboard-home' as dashboard_url %}
{% url 'dashboard-application' as application_url %}
{% url 'dashboard-offer' as offer_url %}
{% url 'logout' as logout_url %}

<div style="z-index: 10;" id="navLinks"
    class="h-full absolute sm:relative sm:left-0 left-[-100%] w-fit justify-between transition-all duration-50 bg-gray-900 text-white sm:rounded-lg">
    <ul class="gap-2 w-full">
        <li class="w-full" id="menu">
            <a class="p-2 sm:p-4 flex items-center m-3 rounded-md {% if dashboard_url == request.path  %}text-blue-400 bg-blue-500{% endif %}  bg-opacity-10"
                href="{% url 'dashboard-home' %}">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor"
                    class="w-8 h-8 mr-4 {% if dashboard_url == request.path  %}text-blue-400{% endif %} ">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M15 9h3.75M15 12h3.75M15 15h3.75M4.5 19.5h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Zm6-10.125a1.875 1.875 0 1 1-3.75 0 1.875 1.875 0 0 1 3.75 0Zm1.294 6.336a6.721 6.721 0 0 1-3.17.789 6.721 6.721 0 0 1-3.168-.789 3.376 3.376 0 0 1 6.338 0Z" />
                </svg>
                <p class="whitespace-nowrap">Personal Details</p>
            </a>
        </li>
        <li class="w-full" id="menu">
            <a class="p-2 sm:p-4 flex items-center m-3 rounded-md hover:bg-blue-500 {% if application_url == request.path  %}text-blue-400 bg-blue-500{% endif %} bg-opacity-10 hover:bg-opacity-10"
                href="{% url 'dashboard-application' %}">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 mr-4 {% if application_url == request.path  %}text-blue-400 {% endif %} ">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 7.5h1.5m-1.5 3h1.5m-7.5 3h7.5m-7.5 3h7.5m3-9h3.375c.621 0 1.125.504 1.125 1.125V18a2.25 2.25 0 0 1-2.25 2.25M16.5 7.5V18a2.25 2.25 0 0 0 2.25 2.25M16.5 7.5V4.875c0-.621-.504-1.125-1.125-1.125H4.125C3.504 3.75 3 4.254 3 4.875V18a2.25 2.25 0 0 0 2.25 2.25h13.5M6 7.5h3v3H6v-3Z" />
                  </svg>                  
                <p class="whitespace-nowrap ">Applications</p>
            </a>
        </li>
        <li class="w-full" id="menu">
            <a class="p-2 sm:p-4 flex items-center m-3 rounded-md {% if offer_url == request.path  %}text-blue-400 bg-blue-500{% endif %} bg-opacity-10 hover:bg-blue-500 hover:bg-opacity-10 "
                href="{% url 'dashboard-offer' %}">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" 
                    stroke="currentColor" 
                    class="w-8 h-8 mr-4 {% if offer_url == request.path  %}text-blue-400{% endif %} ">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0 1 15.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 0 1 3 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 0 0-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 0 1-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 0 0 3 15h-.75M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm3 0h.008v.008H18V10.5Zm-12 0h.008v.008H6V10.5Z" />
                  </svg>
                <p class="whitespace-nowrap ">Offers</p>
            </a>
        </li>
        <li class="w-full" id="menu">
            <a class="p-2 sm:p-4 flex items-center m-3 rounded-md {% if logout_url == request.path  %}text-blue-400 bg-blue-500{% endif %} bg-opacity-10 hover:bg-blue-500 hover:bg-opacity-10"
                href="{% url 'logout' %}">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor"
                    class="w-8 h-8 mr-4 {% if logout_url == request.path  %}text-blue-400{% endif %} ">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
                </svg>
                <p class="whitespace-nowrap ">Logout</p>
            </a>
        </li>
    </ul>
</div>