{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-svh ">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
</head>
<body class="mx-auto min-h-full max-w-[1920px]">
    <div class="container mx-auto mt-4">
        {% block header %}
        {% endblock header %}
        
        {% block content %}
        {% endblock content %}

        {% block footer %}
        {% endblock footer %}
    </div>
</body>
</html> 