{% load static %}
<header class=" relative shadow-md px-4 py-2 bg-white z-101">
    <nav class="flex justify-between lg:mx-20 xl:mx-36">
        <div class="w-36 flex items-center">
            <a href="{% url 'home' %}">
                <img class="" src="{% static 'images/Logo.svg' %}" alt="LOGO" srcset="">
            </a>
        </div>
        <div class="flex items-center gap-3">
            <div class="hidden md:flex duration-300 md:static gap-4 top-[100%] left-[-100%] md:py-0 p-5 md:p-0">
                <ul class="flex md:flex-row flex-col md:items-center md:gap-[2vw] gap-8">
                    <li class="max-w-fit pr-3 md:pr-0 py-1 "><a href="{% url 'home' %}">Home</a></li>
                    <li class="max-w-fit pr-3 md:pr-0 py-1 "><a href="#about-us">About</a></li>
                    <li class="max-w-fit pr-3 md:pr-0 py-1 "><a href="#">Contact</a></li>
                    {% if request.user.is_authenticated %}

                    {% if request.user.is_superuser %}
                    <li class="text-white bg-blue-500  no-underline py-2 px-5 rounded-lg my-3">
                        <a href="">Admin</a>
                    </li>
                    <li class="text-white bg-blue-500  no-underline py-2 px-5 rounded-lg my-3">
                        <a href="{% url 'dashboard-home' %}">Dashboard</a>
                    </li>
                    {% else %}
                    <li class="text-white bg-blue-500  no-underline py-2 px-5 rounded-lg mx-2 my-3">
                        <a href="{% url 'dashboard-home' %}">Dashboard</a>
                    </li>
                    {% endif %}
                    <li class="text-white bg-red-500 no-underline py-2 px-5 rounded-lg my-3">
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="text-white bg-black no-underline py-2 px-5 rounded-lg">
                        <a href="{% url 'register' %}">Apply Now</a>
                    </li>

                    <li class="text-white bg-blue-500  no-underline py-2 px-5 rounded-lg my-3">
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="flex items-center gap-2">
                <svg id="menu" xmlns="http://www.w3.org/2000/svg" onclick="onMenuToggle()" fill="none"
                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                    class="w-6 h-6 cursor-pointer md:hidden transition-all duration-300">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>

                <svg id="cross" xmlns="http://www.w3.org/2000/svg" fill="none" onclick="onMenuToggle()"
                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                    class="w-6 h-6 cursor-pointer md:hidden hidden transition-all duration-300">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg>
            </div>
        </div>
    </nav>
</header>

<div id="navLinks" class="duration-300 md:hidden absolute w-2/3 h-full bg-white flex gap-8 left-[-100%] p-5 z-50">
    <ul class="flex flex-col gap-4">
        <li class="max-w-fit pr-3 md:pr-0 py-1 "><a href="{% url 'home' %}">Home</a></li>
        <li class="max-w-fit pr-3 md:pr-0 py-1 "><a href="#about-us">About</a></li>
        <li class="max-w-fit pr-3 md:pr-0 py-1 "><a href="#">Contact</a></li>
        {% if request.user.is_superuser %}

        <li class="max-w-fit md:pr-0 py-2 text-white bg-blue-500 no-underline rounded-xl px-5">
            <a href="">Admin</a>
        </li>
        <li class="max-w-fit md:pr-0 py-2 text-white bg-blue-500 no-underline rounded-xl px-5">
            <a href="{% url 'dashboard-home' %}">Dashboard</a>
        </li>
        <li class="max-w-fit md:pr-0 py-2 text-white bg-red-500 no-underline rounded-xl px-5">
            <a href="{% url 'logout' %}">Logout</a>
        </li>
        {% elif request.user.is_authenticated %}
        <li class="max-w-fit md:pr-0 py-2 text-white bg-blue-500 no-underline rounded-xl px-5">
            <a href="{% url 'dashboard-home' %}">Dashboard</a>
        </li>
        <li class="max-w-fit md:pr-0 py-2 text-white bg-red-500 no-underline rounded-xl px-5">
            <a href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="max-w-fit md:pr-0 py-2 text-white bg-black no-underline rounded-xl px-5">
            <a href="{% url 'register' %}">Apply Now</a>
        </li>
        <li class="max-w-fit md:pr-0 py-2 text-white bg-blue-500 no-underline rounded-xl px-5">
            <a href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}


    </ul>
</div>

<script>
    function onMenuToggle() {
        const navlinks = document.querySelector("#navLinks");
        navlinks.classList.toggle("left-[0%]");

        const menu = document.querySelector("#menu")
        const cross = document.querySelector("#cross")

        menu.classList.toggle("hidden")
        cross.classList.toggle("hidden")
    }
</script>