{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-svh ">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
</head>
<body class="flex flex-col mx-auto h-full max-w-[1920px] relative">
    
    {% include 'notification.html' %}

    {% block header %}
        {% include 'adminDashboard/dashboard_header.html' %}
    {% endblock header %}

    {% url 'dbb' as dash_home %}
    {% url 'pendingApplcation' as dash_pending %}
    {% url 'rejectedApplication' as dash_rejected %}
    {% url 'approvedApplication' as dash_approved %}

<div  class="flex sm:gap-2 lg:mx-20 xl:mx-24 sm:px-4 min-h-screen">
    <div style="z-index: 10;" id="navLinks"
        class="h-full absolute sm:relative sm:left-0 left-[-100%] w-fit justify-between transition-all duration-50 bg-gray-900 text-white sm:rounded-lg  p-2">
        <ul class="gap-2 w-full">
            <li class="w-full" id="menu">
                <a class="p-2 sm:p-4 flex items-center m-3 rounded-md {% if dash_home == request.path  %} text-blue-400 bg-blue-500 {% endif %}  hover:bg-blue-500 hover:bg-opacity-10 bg-opacity-10" href="{% url 'dbb' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-8 h-8 mr-4">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M15 9h3.75M15 12h3.75M15 15h3.75M4.5 19.5h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Zm6-10.125a1.875 1.875 0 1 1-3.75 0 1.875 1.875 0 0 1 3.75 0Zm1.294 6.336a6.721 6.721 0 0 1-3.17.789 6.721 6.721 0 0 1-3.168-.789 3.376 3.376 0 0 1 6.338 0Z" />
                    </svg>
                    <p class="whitespace-nowrap">DashBoard</p>
                </a>
            </li>
            <li class="w-full" id="menu">
                <a class="p-2 sm:p-4 flex items-center m-3 rounded-md {% if dash_pending == request.path  %} text-blue-400 bg-blue-500 {% endif %}  hover:bg-blue-500 hover:bg-opacity-10 bg-opacity-10" href="{% url 'pendingApplcation' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
                        class="w-8 h-8 mr-4 {% if dash_pending == request.path  %}text-blue-400{% endif %} "
                        >
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                      </svg>
                    <p class="whitespace-nowrap ">Pending</p>
                </a>
            </li>


            <li class="w-full" id="menu">
                <a class="p-2 sm:p-4 flex items-center m-3 rounded-md {% if request.path == dash_rejected %}text-blue-400 bg-blue-500 {% endif %} hover:bg-blue-500 hover:bg-opacity-10 bg-opacity-10" href="{% url 'rejectedApplication' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
                        class="w-8 h-8 mr-4 {% if dash_rejected == request.path  %}text-blue-400{% endif %}"
                    >
                        <path stroke-linecap="round" stroke-linejoin="round" d="M7.498 15.25H4.372c-1.026 0-1.945-.694-2.054-1.715a12.137 12.137 0 0 1-.068-1.285c0-2.848.992-5.464 2.649-7.521C5.287 4.247 5.886 4 6.504 4h4.016a4.5 4.5 0 0 1 1.423.23l3.114 1.04a4.5 4.5 0 0 0 1.423.23h1.294M7.498 15.25c.618 0 .991.724.725 1.282A7.471 7.471 0 0 0 7.5 19.75 2.25 2.25 0 0 0 9.75 22a.75.75 0 0 0 .75-.75v-.633c0-.573.11-1.14.322-1.672.304-.76.93-1.33 1.653-1.715a9.04 9.04 0 0 0 2.86-2.4c.498-.634 1.226-1.08 2.032-1.08h.384m-10.253 1.5H9.7m8.075-9.75c.01.05.027.1.05.148.593 1.2.925 2.55.925 3.977 0 1.487-.36 2.89-.999 4.125m.023-8.25c-.076-.365.183-.75.575-.75h.908c.889 0 1.713.518 1.972 1.368.339 1.11.521 2.287.521 3.507 0 1.553-.295 3.036-.831 4.398-.306.774-1.086 1.227-1.918 1.227h-1.053c-.472 0-.745-.556-.5-.96a8.95 8.95 0 0 0 .303-.54" />
                      </svg>
                    <p class="whitespace-nowrap ">Rejected</p>
                </a>
            </li>


            <li class="w-full" id="menu">
                <a class="p-2 sm:p-4 flex items-center m-3 rounded-md {% if request.path == dash_approved %}text-blue-400 bg-blue-500 {% endif %} hover:bg-blue-500 hover:bg-opacity-10 bg-opacity-10" href="{% url 'approvedApplication' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
                    class="w-8 h-8 mr-4 {% if dash_approved == request.path  %}text-blue-400{% endif %} "
                    >
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                    </svg>
                      
                    <p class="whitespace-nowrap ">Approved</p>
                </a>
            </li>


            <li class="w-full" id="menu">
                <a class="p-2 sm:p-4 flex items-center m-3 rounded-md hover:bg-blue-500 hover:bg-opacity-10" href="{% url 'logout' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor"
                        class="w-8 h-8 mr-4 {% if logout_url == request.path  %}text-blue-400{% endif %} ">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
                    </svg>
                    <p class="whitespace-nowrap ">Logout</p>
                </a>
            </li>
        </ul>
    </div>
    <div style="width: calc(100% - 1rem); z-index: 3;" class="m-2 rounded-lg">
        
        {% block content %}
        {% endblock content %}
    </div>
</div>






























    

    {% block footer %}
    {% endblock footer %}
</body>
</html> 