{% extends 'adminDashboard/dashboard_base.html' %}
{% load static %}
{% block content %}
{% load humanize %}

<div style="z-index: 3" class="relative w-full mb-4 overflow-x-auto sm:mt-0">
    <div class="relative w-full overflow-x-auto sm:rounded-lg rounded-md">
        <table class="border-collapse border-spacing-4 w-full text-sm text-left rtl:text-right text-gray-400">
            <thead class="text-xs uppercase bg-gray-700 text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Name ({{ loanApplications|length }})
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Phone No.
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Applied Amount
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Approved Amount
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Date
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Status
                    </th>
                </tr>
            </thead>
            <tbody class="border-spacing-4">
                {% if loanApplications %}
                {% for loan in loanApplications %}
                <tr class="odd:bg-gray-900 even:bg-gray-800 border-b border-gray-700">
                    <th scope="row" class="px-6 py-4 max-w-48 font-medium  whitespace-nowraptext-white truncate">
                        <a href="{% url 'details' loan.id %}" class="loan cursor-pointer" id="create-application">
                            {{ loan.user.personaldetails.first_name }} {{ loan.user.personaldetails.last_name }}
                        </a>
                    </th>
                    <td class="px-6 py-4 text-nowrap">
                        {{loan.user.phone }}
                    </td>
                    <td class="px-6 py-4 text-nowrap">
                        {{loan.proposal_amt|intcomma }}
                    </td>
                    <td class="px-6 py-4">
                        {% if loan.status == 'approved' %}
                            {{loan.approved_amt|intcomma }}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        {{loan.created_at|date:"M d, Y"}}
                    </td>
                    <td class="px-6 py-4">
                        {% if loan.status == 'approved' %}
                        <span
                            class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800 dark:bg-green-700 dark:text-green-100">
                            Approved
                        </span>
                        {% elif loan.status == 'rejected' %}
                        <span
                            class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-red-100 text-red-800 dark:bg-red-700 dark:text-red-100">
                            Rejected
                        </span>
                        {% else %}
                        <span
                            class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-blue-100 text-blue-800 dark:bg-blue-700 dark:text-blue-100">
                            Pending
                        </span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="5" class="text-center py-4">No loan applications</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}
